.app {
  display: flex;
  flex-direction: column;
}

.header {
  display: flex;
  justify-content: start;
  align-items: center;
  background-color: #422ed4;
  padding: 8px 160px;
}

.logo {
  width: 43px;
  height: 43px;
}

h1 {
  font-size: 16px;
  font-weight: 800;
  line-height: 19px;
  color: #ffffff;
  padding: 0 10px;
}

.quote-block {
  padding: 165px 160px 144px;
}

.quote {
  background-color: #422ed4;
  box-shadow: 0 100px 80px rgba(80, 76, 103, 0.07),
    0 0 10px rgba(80, 76, 103, 0.035);
  border-radius: 25px;
  padding: 24px;
  min-height: 114px;
}

.quote-text {
  font-size: 20px;
  line-height: 30px;
  color: #ffffff;
}
