@import url('https://fonts.googleapis.com/css2?family=Raleway:ital,wght@1,100;1,300;1,500;1,700&display=swap');

* {
  margin: 0;
  padding: 0;
  list-style: none;
  font-style: normal;
  box-sizing: border-box;
}

body,
html {
  width: 100vw;
  min-height: 100vh;
  background-color: #e5e5e5;
}
